.logo{
    display: block;
    padding: 10px;
    margin: auto;
    width: 80px;
    height: 80px;
}

#message{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin: 17px 10px;
    border: 2px solid black;
    border-radius: 12px;
}

#messages{
    max-width: 955px;
    border: 3px solid black;
    border-radius: 12px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;

}

body{
    background-image: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}
  



#send-container{
    display: block;
    margin: auto; 
    text-align: center;
    max-width: 985px;
    width: 100%;
    
}

#sendBtn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 12px;
    height: 30px;
}
